{
  "openapi": "3.0.0",
  "info": {
    "title": "Jina Reader API",
    "version": "N/A",
    "description": "Jina Reader API openapi document",
    "x-logo": { "url": "/favicon.ico" }
  },
  "servers": [{ "url": "https://s.jina.ai/" }],
  "paths": {
    "/{q}": {
      "get": {
        "tags": ["search"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x08" }],
              "default": "web",
              "description": "- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *search*\n\n- Defaults to: &#39;web&#39;"
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x09" }],
              "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x0a" }],
              "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*"
            }
          },
          {
            "name": "fallback",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"
            }
          },
          {
            "name": "q",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"
            },
            "required": true
          },
          {
            "name": "nfpr",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "IntegrityEnvelopeWrappedString",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "summary": "Envelope code.\n\nMirror of HTTP status code",
                      "description": "[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;\n\n- Defaults to: 200",
                      "default": 200
                    },
                    "status": {
                      "type": "number",
                      "summary": "Envelope status.\n\nIn extension to HTTP status code",
                      "description": "[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;\n\n- Defaults to: 20000",
                      "default": 20000
                    },
                    "data": {
                      "type": "string",
                      "summary": "The result payload you expect",
                      "description": "The result payload you expect\n\n- Cast to: &lt; **string** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;"
                    },
                    "meta": {
                      "description": "The metadata that the payload sometimes came with\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;",
                      "nullable": true,
                      "summary": "The metadata that the payload sometimes came with"
                    }
                  },
                  "required": ["code", "status"],
                  "primitive": true
                }
              },
              "text/event-stream": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/OutputServerEventStream@0x0b"
                    }
                  ]
                }
              },
              "text/plain; charset=utf-8": { "schema": { "type": "string" } }
            },
            "headers": {}
          }
        },
        "summary": "search"
      },
      "post": {
        "tags": ["search"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x08" }],
              "default": "web",
              "description": "- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *search*\n\n- Defaults to: &#39;web&#39;"
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x09" }],
              "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x0a" }],
              "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*"
            }
          },
          {
            "name": "fallback",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"
            }
          },
          {
            "name": "q",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"
            },
            "required": true
          },
          {
            "name": "nfpr",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x08" }],
                        "default": "web",
                        "description": "- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *search*\n\n- Defaults to: &#39;web&#39;"
                      },
                      "num": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                      },
                      "count": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                      },
                      "engine": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x09" }],
                        "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "provider": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x0a" }],
                        "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "gl": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"
                      },
                      "hl": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"
                      },
                      "location": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "page": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "fallback": {
                        "type": "boolean",
                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "q": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "nfpr": {
                        "type": "boolean",
                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"
                      }
                    }
                  }
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x08" }],
                        "default": "web",
                        "description": "- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *search*\n\n- Defaults to: &#39;web&#39;"
                      },
                      "num": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                      },
                      "count": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                      },
                      "engine": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x09" }],
                        "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "provider": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x0a" }],
                        "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "gl": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"
                      },
                      "hl": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"
                      },
                      "location": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "page": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "fallback": {
                        "type": "boolean",
                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "q": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"
                      },
                      "nfpr": {
                        "type": "boolean",
                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"
                      }
                    }
                  }
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "allOf": [{ "$ref": "#/components/schemas/enum@0x08" }],
                    "default": "web",
                    "description": "- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *search*\n\n- Defaults to: &#39;web&#39;"
                  },
                  "num": {
                    "type": "number",
                    "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                  },
                  "count": {
                    "type": "number",
                    "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                  },
                  "engine": {
                    "allOf": [{ "$ref": "#/components/schemas/enum@0x09" }],
                    "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"
                  },
                  "provider": {
                    "allOf": [{ "$ref": "#/components/schemas/enum@0x0a" }],
                    "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"
                  },
                  "gl": {
                    "type": "string",
                    "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"
                  },
                  "hl": {
                    "type": "string",
                    "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"
                  },
                  "location": {
                    "type": "string",
                    "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"
                  },
                  "page": {
                    "type": "number",
                    "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*"
                  },
                  "fallback": {
                    "type": "boolean",
                    "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"
                  },
                  "q": {
                    "type": "string",
                    "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"
                  },
                  "nfpr": {
                    "type": "boolean",
                    "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "IntegrityEnvelopeWrappedString",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "summary": "Envelope code.\n\nMirror of HTTP status code",
                      "description": "[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;\n\n- Defaults to: 200",
                      "default": 200
                    },
                    "status": {
                      "type": "number",
                      "summary": "Envelope status.\n\nIn extension to HTTP status code",
                      "description": "[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;\n\n- Defaults to: 20000",
                      "default": 20000
                    },
                    "data": {
                      "type": "string",
                      "summary": "The result payload you expect",
                      "description": "The result payload you expect\n\n- Cast to: &lt; **string** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;"
                    },
                    "meta": {
                      "description": "The metadata that the payload sometimes came with\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;",
                      "nullable": true,
                      "summary": "The metadata that the payload sometimes came with"
                    }
                  },
                  "required": ["code", "status"],
                  "primitive": true
                }
              },
              "text/event-stream": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/OutputServerEventStream@0x0b"
                    }
                  ]
                }
              },
              "text/plain; charset=utf-8": { "schema": { "type": "string" } }
            },
            "headers": {}
          }
        },
        "summary": "search"
      }
    },
    "/search": {
      "get": {
        "tags": ["search"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x08" }],
              "default": "web",
              "description": "- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Defaults to: &#39;web&#39;"
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x09" }],
              "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x0a" }],
              "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "fallback",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "nfpr",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "IntegrityEnvelopeWrappedString",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "summary": "Envelope code.\n\nMirror of HTTP status code",
                      "description": "[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;\n\n- Defaults to: 200",
                      "default": 200
                    },
                    "status": {
                      "type": "number",
                      "summary": "Envelope status.\n\nIn extension to HTTP status code",
                      "description": "[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;\n\n- Defaults to: 20000",
                      "default": 20000
                    },
                    "data": {
                      "type": "string",
                      "summary": "The result payload you expect",
                      "description": "The result payload you expect\n\n- Cast to: &lt; **string** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;"
                    },
                    "meta": {
                      "description": "The metadata that the payload sometimes came with\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;",
                      "nullable": true,
                      "summary": "The metadata that the payload sometimes came with"
                    }
                  },
                  "required": ["code", "status"],
                  "primitive": true
                }
              },
              "text/event-stream": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/OutputServerEventStream@0x0b"
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "summary": "searchIndex"
      },
      "post": {
        "tags": ["search"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x08" }],
              "default": "web",
              "description": "- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Defaults to: &#39;web&#39;"
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x09" }],
              "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/enum@0x0a" }],
              "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "fallback",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          },
          {
            "name": "nfpr",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x08" }],
                        "default": "web",
                        "description": "- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Defaults to: &#39;web&#39;"
                      },
                      "num": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                      },
                      "count": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                      },
                      "engine": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x09" }],
                        "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "provider": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x0a" }],
                        "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "gl": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"
                      },
                      "hl": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"
                      },
                      "location": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "page": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "fallback": {
                        "type": "boolean",
                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "q": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "nfpr": {
                        "type": "boolean",
                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      }
                    }
                  }
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x08" }],
                        "default": "web",
                        "description": "- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Defaults to: &#39;web&#39;"
                      },
                      "num": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                      },
                      "count": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                      },
                      "engine": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x09" }],
                        "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "provider": {
                        "allOf": [{ "$ref": "#/components/schemas/enum@0x0a" }],
                        "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "gl": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"
                      },
                      "hl": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"
                      },
                      "location": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "page": {
                        "type": "number",
                        "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "fallback": {
                        "type": "boolean",
                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "q": {
                        "type": "string",
                        "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      },
                      "nfpr": {
                        "type": "boolean",
                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"
                      }
                    }
                  }
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "allOf": [{ "$ref": "#/components/schemas/enum@0x08" }],
                    "default": "web",
                    "description": "- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Defaults to: &#39;web&#39;"
                  },
                  "num": {
                    "type": "number",
                    "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                  },
                  "count": {
                    "type": "number",
                    "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"
                  },
                  "engine": {
                    "allOf": [{ "$ref": "#/components/schemas/enum@0x09" }],
                    "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"
                  },
                  "provider": {
                    "allOf": [{ "$ref": "#/components/schemas/enum@0x0a" }],
                    "description": "- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"
                  },
                  "gl": {
                    "type": "string",
                    "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"
                  },
                  "hl": {
                    "type": "string",
                    "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"
                  },
                  "location": {
                    "type": "string",
                    "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"
                  },
                  "page": {
                    "type": "number",
                    "description": "- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*"
                  },
                  "fallback": {
                    "type": "boolean",
                    "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"
                  },
                  "q": {
                    "type": "string",
                    "description": "- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"
                  },
                  "nfpr": {
                    "type": "boolean",
                    "description": "- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "IntegrityEnvelopeWrappedString",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "summary": "Envelope code.\n\nMirror of HTTP status code",
                      "description": "[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;\n\n- Defaults to: 200",
                      "default": 200
                    },
                    "status": {
                      "type": "number",
                      "summary": "Envelope status.\n\nIn extension to HTTP status code",
                      "description": "[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;\n\n- Defaults to: 20000",
                      "default": 20000
                    },
                    "data": {
                      "type": "string",
                      "summary": "The result payload you expect",
                      "description": "The result payload you expect\n\n- Cast to: &lt; **string** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;"
                    },
                    "meta": {
                      "description": "The metadata that the payload sometimes came with\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;IntegrityEnvelope&gt;",
                      "nullable": true,
                      "summary": "The metadata that the payload sometimes came with"
                    }
                  },
                  "required": ["code", "status"],
                  "primitive": true
                }
              },
              "text/event-stream": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/OutputServerEventStream@0x0b"
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "summary": "searchIndex"
      }
    }
  },
  "components": {
    "schemas": {
      "enum@0x08": {
        "type": "string",
        "enum": ["web", "images", "news"],
        "description": "Enum<\"web\" | \"images\" | \"news\">"
      },
      "enum@0x09": {
        "type": "string",
        "enum": ["google", "bing", "reader"],
        "description": "Enum<\"google\" | \"bing\" | \"reader\">"
      },
      "enum@0x0a": {
        "type": "string",
        "enum": ["google", "bing", "reader"],
        "description": "Enum<\"google\" | \"bing\" | \"reader\">"
      },
      "OutputServerEventStream@0x0b": {
        "type": "string",
        "format": "binary",
        "description": "Binary data (stream)"
      }
    }
  }
}
